/* ===== Q3 EXACTO POR FILA ===== */

/* Header Q3 (cuadrito chiquito) amarillo fuerte */
.grades thead th.q3h{
  background: #FFE96A !important; /* intenso */
}

/* Por defecto Q3 NO es amarillo */
.grades td.q3{
  background: inherit !important;
}

/* Amarillo intenso (0,3,5,7,9,11) */
.grades td.q3.q3-strong{
  background: #FFE96A !important;
}

/* Amarillo suave (2,8,10 por ejemplo) */
.grades td.q3.q3-soft{
  background: #FFF6B0 !important;
}

/* Blanco (fila 4,6) */
.grades td.q3.q3-none{
  background: #FFFFFF !important;
}
